/StatisticsData/template.yaml
/StatisticsDataMetaCMMT/template.yaml
/StatisticsDataMetaITM/template.yaml
/StatisticsDataMetaNCD/template.yaml
/StatisticsDataMetaORG/template.yaml
/StatisticsDataMetaPRD/template.yaml
/StatisticsDataMetaSOURCE/template.yaml
/StatisticsDataMetaTBL/template.yaml
/StatisticsDataMetaUNIT/template.yaml
/StatisticsDataMetaWGT/template.yaml
/StatisticsExplData/template.yaml
/StatisticsList/template.yaml
/StatisticsSearch/template.yaml